body {
  background: #faede2;
  font-family: 'Segoe UI', Arial, sans-serif;
}
#form-container, #invitation {
  background: #fcf8e3;
  padding: 2em;
  margin: 8em auto;
  border-radius: 16px;
  box-shadow: 0 2px 16px rgba(0,0,0,0.08);
  width: 350px;
  border: 2px solid #c1567a;
  text-align: center;
}
h2 {
  color: #c1567a;
}
button {
  padding: 0.5em 2em;
  margin-top: 1em;
  background: #5600e3;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
#reset-btn {
  background: #c1567a;
  margin-top: 2em;
}
a#open-issue-link {
  display: block;
  margin-top: 1em;
  color: #5600e3;
  text-decoration: underline;
}
